<!doctype html>

<html>
	<head>
		<title>Home</title>
		<!--JQUERY-->
		<script type="text/javascript" src="Libraries/jquery-1.11.2.min.js"></script>

		<!--CAPTION HOVER EFFECTS REPLACEMENT-->
		<link rel="stylesheet" type="text/css" href="Libraries/CaptionHoverEffectsReplacement/caption_hover_effects.css">

		<!--SELF (DONT TOUCH THIS)-->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!--STYLE IN THIS CSS-->
		<link rel="stylesheet" type="text/css" href="css/home.css">

		<!--MENU-->
		<script type="text/javascript" src="scripts/menu.js"></script>
		<link rel="stylesheet" type="text/css" href="css/menu.css">

	</head>
	<body>
			
		<div id="main-container">
			<br><br>
			<label class="main-title2">Applied Schools</label>
			
			<ul id="schools-list">
				<li>
					<div class="caption-hover-effect">
						<%=image_tag "school-logo-dlsu.png"%>
						<div class="caption">
							<span>Courses Applied</span>
							<ul>
								<li>BS Mechanical Engineering</li>
								<li>BS Mathematics</li>
								<li>BS Computer Science</li>
							</ul>

							<div class="centered"><button>Submit</button></div>
						</div>
					</div>
				</li>

				<li>
					<div class="caption-hover-effect">
						<%=image_tag "school-logo-ateneo.png"%>
						<div class="caption">
							<span>Courses Applied</span>
							<ul>
								<li>BS Mechanical Engineering</li>
								<li>BS Mathematics</li>
								<li>BS Computer Science</li>
							</ul>

							<div class="centered"><button>Submit</button></div>
						</div>
					</div>
				</li>

				<li>
					<div class="caption-hover-effect">
						<%=image_tag "school-logo-ust.png"%>
						<div class="caption">
							<span>Courses Applied</span>
							<ul>
								<li>BS Mechanical Engineering</li>
								<li>BS Mathematics</li>
								<li>BS Computer Science</li>
							</ul>

							<div class="centered"><button>Submit</button></div>
						</div>
					</div>
				</li>

				<li>
					<div class="caption-hover-effect">
						<%=image_tag "school-logo-up.png"%>
						<div class="caption">
							<span>Courses Applied</span>
							<ul>
								<li>BS Mechanical Engineering</li>
								<li>BS Mathematics</li>
								<li>BS Computer Science</li>
							</ul>

							<div class="centered"><button>Submit</button></div>
						</div>
					</div>
				</li>
				<li>
					<div class="caption-hover-effect">
						<%=image_tag "school-logo-feu.png"%>
						<div class="caption">
							<span>Courses Applied</span>
							<ul>
								<li>BS Mechanical Engineering</li>
								<li>BS Mathematics</li>
								<li>BS Computer Science</li>
							</ul>

							<div class="centered"><button>Submit</button></div>
						</div>
					</div>
				</li>
				<li>
					<div>
						<a href="addschool1.html.erb"><%=image_tag "school-logo-add.png"%>
						
					</div>
				</div>
				</li>
			</ul>
		</div>
		

	</body>
	
</html>